/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Case Problem 2

   The Spice Bowl Payment Form Style Sheet
   Author: Rita Sato
   Date:   3/1/2014

   Filename:         payment.css
   Supporting Files: go.png, stop.png

*/


fieldset {
   border: none;
   margin: 5px;
}

legend {
   background-color: rgb(239, 198, 145);
   color: black;
   margin-top: 10px;
   margin-bottom: 10px;
   text-indent: 20px;
   width: 100%;

   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
}

label {
   clear: left;
   display: block;
   float: left;
   font-size: 0.8em;
   text-align: right;
   margin: 2px 5px;
   width: 25%;
}

input {
   display: block;
   float: left;
   font-size: 0.9em;
   margin: 2px 0px;
   width: 60%;
}

select {
   display: block;
   float: left;
   font-size: 0.9em;
   margin: 2px;
}

textarea {
   display: block;
   float: left;
   font-size: 0.9em;
   height: 75px;
   width: 60%;
}


fieldset.optionGroup {
   margin-left: 25%;
}

fieldset.optionGroup label {
   display: inline;
   float: none;
   width: 100px;
}

input[type="radio"] {
   display: inline;
   float: none;
   margin: 0px;
   width: 20px;
}

#csc {
   width: 50px;
}



input[type="submit"] {
   background-color: rgb(239, 198, 145);

   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
   border-radius: 15px;

   float: none;
   height: 30px;
   margin: 10px auto;
   width: 150px;
}


/* Validation styles */

input:focus, textarea:focus {
   background-color: rgb(255, 218, 165);
}

input:focus:invalid {
   background: rgb(255, 245, 215) url(stop.png) bottom right no-repeat;
}

input:focus:valid {
   background: rgb(215, 255, 215) url(go.png) bottom right no-repeat;
}


   