/*
   New Perspectives on HTML and CSS
   Tutorial 5
   Case Problem 1

   Sudoku Puzzle Table Style Sheet
   Author: Rebecca Peretz
   Date:   3/1/2014

   Filename:         stable.css
   Supporting Files: green.jpg, gold.jpg

*/

/* Sudoku Puzzle Table */
table.spuzzle          {
   border-collapse: collapse;
}

table.spuzzle td       {
   border: 5px outset gray;
}

table.spuzzle th       {
   font-size: 8px; 
   color: gray;
}

table.spuzzle tbody th {
   height: 40px;
}


/* Subtables within Sudoku Puzzle */
table.subTable         {
   border-collapse: collapse;
}

table.subTable td {
   border: 1px solid black; 
   color: blue; 
   font-size: 20px; 
   height: 40px;
   text-align: center;
   vertical-align: middle; 
   width: 40px; 
}


/* Subtables with gold background cells */
table.spuzzle td.goldBox td            
   {background: url(gold.jpg) no-repeat 50% 50%;
}

/* Subtables with green background cells */
table.spuzzle td.greenBox td {
   background: url(green.jpg) no-repeat 50% 50%;
}






